@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">);

body{
	background-image:url(404.gif); 
	background-repeat: no-repeat;
	background-size: cover;
	
	


}

h1{
	color: red;
	text-align : center ; font-family: 'Righteous', cursive;
	
}

div{
	background-color:#777;
	background-size:800px;
	border-radius:50px;
	opacity: 0.8;
	
}

main{
	display: flex;
	justify-content: center;
	color: white ;
	margin-top: 20%;
}


		
}
